doctype html
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/about.css')
  body
    block content
    //- div.skewed-background
    //-     h1 About
    div.container-box-blue
        h1 Digital - Submission - Love - Reflex
        div.container-box-red
            p 
                |A nexus, a cybernetic third place, an anachronistic death dream from deep inside the bygone blogosphere: 
                |D–S–L–R is a new creative studio and multimedia arts and culture publication rendered as nonlinear webart hyperlink maze. 
                |D–S–L–R is a love letter to the Web1.0 queer internet, braced against 30 years of aesthetic cacophony and abstraction.
                |D–S–L–R accepts the submission of artwork of any kind, from photography to music to film to poetry to HTML video games. 
                |The project expands into meatspace as an aphrodisiac assemblage: a series of ever-shifting interactive installations that can be seen, touched, and played with.  
                |<br>The kiss cam is live. Submissions are open. No loads refused. D–S–L–R is presented courtesy of Futsch Entertainment.
        |<br> 
        div.container-box-purple
            h1 DSLR is 
            p 
                span.highlight Sadie Meadow 
                | founder, editor-in-chief, installation developer
                br
                span.highlight Kennedy-Sloane Ross 
                | founder, web developer, photography editor
                br
            p
                | for installation booking, contact   
                a(href="mailto:sadiembernstein@gmail.com") sadiembernstein@gmail.com 
                |or 
                a(href="https://www.instagram.com/sadiemeadow_/")@sadiemeadow_
                | and 
                a(href="https://www.instagram.com/d_s__l_r/")@d_s__l_r 
                |on instagram
        h1 SUBMISSIONS <br>
        a.btn(href="https://forms.gle/VPYwzstKU16h8fkP7") SUBMIT TO D–S–L–R
        h1 Galleries
        //a.btn(href="https://www.lovereflex.digital/gallery") "But First, More Dirty Pictures: Selected Shorts by Barbara Hammer" <br> Dear Friends Books // 2024-08-28
        a.btn(href="https://www.lovereflex.digital/") MIX NYC 2024 Closing Night Party // 2024-11-22<br> COMING SOON