extends layout

html
  body
    block content
      head
        p(style='font: 8em "Syne Mono", sans-serif')
          = title
        p(style='font: 4em "Syne Mono", Arial, sans-serif') digital submission<br> lesbian reflex
      body
        div.container
          table.table.table-striped
            each image in imageArray
              tr
                td
                  a(href='/frame/' + image.name)
                    img(src=image.filepath, alt="", style='width:100%')
              tr
                td 
                  a.btn(href='/frame/' + image.name)=image.name
