extends layout

html
  body
    block content
      head
        h1(style='font: 5em "Syne Mono", sans-serif')
          = title
        p(style='font: 2em "Syne Mono", Arial, sans-serif') Digital Submission Lesbian Reflex
      body
        div.container
          table.table.table-striped
            each image in imageArray
              tr
                td
                  a(href='/frame/' + image.name)
                    img(src=image.filepath, alt="", style='width:100%')
              tr
                td 
                  a.btn(href='/frame/' + image.name)=image.name
                // td=image.name
