body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:floralwhite;
  background-image: url(/backgrounds/vlcsnap-2024-08-17-17h16m00s389.jpeg);
  background-repeat: repeat-y;
}

table {
  width: 100%;
  text-align: center;
}


.header {
  height: 1000px; /* set the height of the header to 100 pixels */
}


a {
  color: #00B7FF;
}
