@font-face {
  font-family: 'Syne Mono'; /*a name to be used later*/
  src: url('/fonts/SyneMono-Regular.ttf'); /*URL to font*/
}

body {
  padding: 25px;
  font: 14px "Syne Mono";
  color:floralwhite;
  background-image: url(/backgrounds/vlcsnap-2024-08-17-17h16m00s389.jpeg);
  background-size: 300px;
  background-repeat: repeat;
}

table {
  width: 100%;
  text-align: center;
}

.btn {
  background-color: floralwhite; /* Green */
  border: none;
  color: floralwhite;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  background: url(/backgrounds/tits.jpeg);
}

.header {
  height: 1000px; /* set the height of the header to 100 pixels */
}


a {
  color: #00B7FF;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(10%);
}